/* CSS-змінні */
:root {
    --primary-brand: #4D5AE5;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
}

/* домінантний body-елемент */
body {
    font-family: 'Roboto';
    color: var(--primary-brand);
    
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-class {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.web {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    width: 44px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-brand);
    display: flex;
    align-items: center;
    padding-left: 78px;
    padding-right: 44px;
}
.studio {
    color: var(--dark);
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 33px;
}

/* очистка переліків від позначок */
.no-bullets {
    list-style-type:none;
    display: flex;
}

.nav-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    list-style-type: none;
    display: flex;
}
.exact-nav-links {
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
    display: flex;
    margin-right: 40px;
}
.nav-links:hover {
    color: #404BBF;
}
.nav-links:focus {
    color: #404BBF;
}
.contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-left: 291px;
    padding-left: 156px;
}
.contact:hover {
    color: var(--primary-brand);
}
.contact:focus {
    color: var(--primary-brand);
}
.contact-links {
    text-decoration: none;
    color: var(--text);
    margin-right: 40px;
}

.main-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 192px;
    padding-bottom: 291px;
    /* додав фоновий колір. щоб текст було видно */
    background-color: #2E2F42;
}
.btn {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1.18;
    width: 170px;
    left: 635px;
    top: 432px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover {
    background-color: #404BBF;
}
.btn:focus {
    background-color: #404BBF;
}
.hidden {
    display: none;
}
.benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.doing {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.pics1 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
}
.pics2 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
    margin-left: 24px;
}
.pics3 {
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent);
    display: flex;
    margin-left: 24px;
}
.team-bckg {
    background-color: var(--light);
    margin-top: 120px;
}
.team {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.worker-card1 {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
}
.worker-card2 {
    margin-left: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
}
.worker-card3 {
    margin-left: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
}
.worker-card4 {
    padding-right: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 120px;
}
.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.positions {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.bckg-footer {
    background-color: var(--text);
    display: block;
}
.studio-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding-top: 100px;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--light);
}
.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 100px;
    color: var(--accent);
}

/* Portfolio part */
.display-btn {
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    color: #4D5AE5;
    cursor: pointer;
}
.total-display-btn {
    width: 69px;
    padding: 8px 16px;
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: 213.5px;
    color: #FFFFFF;
    cursor: pointer;
}
.total-display-btn:hover {
    background-color: #404BBF;
}
.merch-pics {
    list-style-type:none;
    display:  flex; 
    flex-wrap: wrap; 
    gap: 24px;
}
.merch-rows {
    flex-basis: calc((100% - 48px) / 3);
}
.project-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.categories {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}